<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><h3>EOBR Analysis tools</h3></title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/>
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
	</head>
	<body>
		<div class="container-fluid">
			<header class="bk_header">
				<h1>EOBR Analysis tools</h1>
			</header>
			
			
			{{{body}}}
			

			<footer>
				CSULB Research
			</footer>	
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js"></script>
		<script src="/javascripts/getTrips.js"></script>
		<script src="/javascripts/map.js"></script>
	</body>
</html>
