<div class="row">
	<div id="triplist_display" class="col-md-7">
		<table id="triplist_table" class="table table-striped">
			<thead>
				<th>Id</th>
				<th>Truck_Id</th>
				<th>Trip_Id</th>
				<th>Date</th>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="col-md-5">
		<div id="map_display" class="row">
			map
		</div>
		<div id="stat_display" class="row">
			stat
		</div>
	</div>
</div>



