<!DOCTYPE html>
<html>
<head>
<script
src="http://maps.googleapis.com/maps/api/js">
</script>

<script>
var myCenter=new google.maps.LatLng(51.508742,-0.120850);
var myCenter2=new google.maps.LatLng(54.508742,-0.120850);
var map;
var marker;

function initialize()
{
  //var myC = new google.maps.LatLng(65.9667,-18.5333);
  var myC = new google.maps.LatLng(65.9667,-18.5333);
  var mapProp = {
    center: myC,
    zoom:3,
    //mapTypeId:google.maps.MapTypeId.ROADMAP
  };

 map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

// marker=new google.maps.Marker({
//   position:myCenter,
//   animation:google.maps.Animation.BOUNCE
//   });

// marker.setMap(map);
// //animate();


  var ctaLayer = new google.maps.KmlLayer({
    url: 'http://localhost:8888/sendKML.kml'
  });

  ctaLayer.setMap(map);
  //document.getElementById("markerStatus");
}

// function animate() {
//    marker=new google.maps.Marker({
//   position:myCenter2,
//   animation:google.maps.Animation.BOUNCE
//   });

//   map.setCenter(myCenter2);
//   marker.setMap(map);
// }

google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body>
<div id="googleMap" style="width:500px;height:380px;"></div>

<div id="markerStatus" style="width:500px;height:380px;">
abcdkasnd;lfknas;ldnf;lansd;lfn</div>
</body>
</html>
