#map_display {
	/*width: tri;*/
	height: 500px;
	width: 130%;
	margin-left: 10px;
	overflow:scroll;
}

#triplist_display {
	/*width: tri;*/
	height: 500px;
	width: 600px;
	overflow:scroll;
}

.bk_header {
	padding:1px 0px 5px 0px;
	text-align:center;
	color: #333333;
	background: #5bc0de;
}

#panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
}