#map_display {
	/*width: tri;*/
	height: 500px;
	width: 100%;
	margin-left: 10px;
	overflow:scroll;
}

#triplist_display {
	/*width: tri;*/
	height: 500px;
	width: 600px;
	overflow:scroll;
}

.bk_header {
	padding:1px 0px 5px 0px;
	text-align:center;
	color: #333333;
	background: #5bc0de;
}