#map_display {
	/*width: tri;*/
	height: 500px;
	/*width: 130%;*/
	/*margin-left: 10px;*/
	overflow:scroll;
}

#triplist_table {
	/*width: tri;*/
	height: 500px;
	/*width: 600px;*/
	overflow:scroll;
}

#tripdata_table {
	/*width: tri;*/
	height: 500px;
	/*width: 600px;*/
	overflow:scroll;
}

.bk_header {
	padding:1px 0px 5px 0px;
	text-align:center;
	color: #333333;
	background: #5bc0de;
}

#panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-top: 60px;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
}

table tr.highlighted {
  background-color:#999;
}

.bk_table {
	 /*border: 1px solid black;*/

}

.parentTbl table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
  width: 300px;
}
.childTbl table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #d7d7d7;
  width: 275px;
}
.childTbl th,
.childTbl td {
  border: 1px solid #d7d7d7;
  width: 130px;
  

  
}
.scrollData {
  width: 300px;
  height: 500px;
  overflow-x: hidden;
}

.edge {
	border: 1px solid #c8c8c8;
	height: 620px;
}


/*th, td {
	padding: 5px;
}

tr {
	border : 1px solid #cccccc;
}
table tbody, table thead
{
    display: block;
}
table tbody 
{
   overflow-y: auto;
   height: 500px;
}*/

body {
	background-color:#f9f0ea;
}

.marginTop {
	margin-top: 5px ;
}

.header {
  text-align:left;
  vertical-align:middle;
}
a {
	 color: #ff584c;
}

/* unvisited link */
a:link {
    color: #ff584c;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #ff584c;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #cf584c;
    text-decoration: none;
}

/* selected link */
a:active {
     color: #ff584c;
    /*text-decoration: none;*/
}

